body { font-family:'merriweather'serif;
    background:linear-gradient(-10deg, #36454f 50%,powderblue 70%);
    text-align: center;
    margin: auto;    
    background-image:  


}

* {
    color: white;
}

h1 {
    color: #66bfbf; 
    font-family: cursive;
}



h2 { font-family: Arial, Helvetica, sans-serif;
    margin:  0 auto 0 auto;
    color: white;
    text-align: center;
    padding: 10px;
}

h3 {font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    line-height: 2; 
}

hr {
    color: grey;
    width:4%;
    border-style: dotted;
    border-width: 7px;
    border-top: 2px;
    margin: 100px auto;

}
.pro {
    color: #66bfbf;
    font-family: 'Times New Roman', Times, serif;
   
 
}
 

.mountain {
    display: block;
    margin: auto; 
    text-align: center;
    width: 50%;
    z-index: -1;
}



.pro {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.classic {
    padding-top: 50px;
 

}
.hello {
    margin: 30px;
}
 


.intro {
    width: 30%;
    margin:  auto;

 
    
}
.bottomcloud {


    position: absolute;
    right: 250px;
    top: 40px;
}
.topcloud {
    position:absolute;
    bottom: 400px;
    left: 350px;
    
  
}

.myskills{

    margin-bottom: 100px;
}
.frontend {
    margin-bottom: 100px;
}

.image {border-radius: 100%;
        height: 200px;
        width: 200px;
        margin-top: 20px;
    
}
.computer {
    border-radius: 100%;
        height: 120px;
        width: 120px;
        float: left;
        margin-right: 30px;

}
.chillies {
         border-radius: 100%;
        height: 120px;
        width:25%px;
        float: right;
        margin-left: 30px;
        
}


.skills {
    text-align: left;
    width: 50%;
    margin: auto;
    margin-top: 0;
}

.button {
    display: inline-block;
    background-color: #82bee0;
    width: 30%;
    margin: 12px auto 0 auto;
    border-radius: 8px;
    padding: 4px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.buttonlink {
    text-align: center;
    text-decoration: none;
   
    width: 10%;

}

.button:hover {
    color: grey;
    box-shadow: 10px 10px ;

}

.touch {
    width: 30%;
    margin: auto;

}

.bottom-container {
    background-color: #237070;
    border:none;
    padding: 20px;

    height:50px;
    margin-left: 0;
    width:100%;
    color: white;
    position:relative;
}
.twitter {
    text-decoration: none;
    color: powderblue;
}

.website {
    text-decoration: none;
    color: powderblue;
    position: absolute;
    right:580px;
    top: 20px;
}

.linkedln {
    text-decoration: none;
    color: powderblue;
    position: absolute;
    left:580px;
    top: 20px;
} 
.copywrite {
    text-decoration: none;
    color: powderblue;
    position: absolute;
    left:600px;
    bottom: 0;
    padding-bottom: 0;
}

.contact-me {
    margin-top: 0;
}